<h1>Hello Dev</h1>

<form action='unallocate' method='GET' target="_blank">
    Unallocate every resource :
    <button type='submit'> click here </button>
</form>


<!--{{obj_list_bth}}-->
<b>ALL SUBJECTS</b>
<ol>
{% for sub in obj_list_sub %}
    <li>
        {{sub.name}}

    </li>

{% endfor %}
</ol>

<b>FACULTIES TEACHING SUBJECTS</b>
<ol>
{% for fac in obj_list_fac %}
   <li>
       {{ fac.name }}--
       {% for sub in fac.subject.all %}
            {{sub}}
       {% endfor %}

   </li>
{% endfor %}
</ol>

<b>Unallocated faculties </b>--
<ol>

{% for fac in unalloc_fac %}
    <li>{{fac.name}}</li>
{% endfor %}
</ol>

<br>

<b>Subjects taught by Jay Shah </b>--
<ol>

{% for jay in jay_sub %}
    <li>{{jay.short_name}}</li>
{% endfor %}
</ol>

<br>

<b>Ajava teaching faculties</b>--
<ol>
{% for ajava_fac in ajava  %}
    <li>{{ajava_fac.name}}</li>
{% endfor %}
</ol>

<b>Shift 1 details</b>
<br>
{% for sft in shift_1 %}
    from_time:{{sft.from_time}}<br>
    to_time:{{sft.to_time}}<br>
    break_from_time: {{sft.break_from_time}}<br>
    break_to_time: {{sft.break_to_time}}<br>
{% endfor %}
<br>


<!--<b>Unallocated ajava faculty</b>-->
<!--<br>-->
<!--{% for i in unall_ajava %}-->
    <!--Name: {{i.name}}<br>-->
<!--{% endfor %}-->
<!--<br>-->

